    <div class="title">
        <img (click)='home()' class='logo' src="assets/inner/logo.png" alt="">
    </div>
    
<div class='home'>
    <ul>
        <li (click)='onLoginClick()'>{{login}}</li>
        <li (click)='onPostsClick()'>Posts</li>
        <li (click)='onTagsClick()'>Tags</li>
        <li (click)='onNewClick()'>New</li>    
    </ul>


    <div class="search">
        <input (keyup)='onKey($event)' type="text">
        <select (change)='onSelect($event)' name="order" id="order">
            <option value="time descending">Newest</option>
            <option value="time ascending">Oldest</option>
            <option value="upvotes descending">Most upvotes</option>
        </select>
        <button (click)='onSearchClick()'>Search</button>
    </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>



<h2>{{message}}</h2>

