<div>
    <h2>Register</h2>
    <h3 *ngIf="show">{{wrong}}</h3>
    <label for="username">Username: </label><input (keyup)='onUsernameKey($event)' type="text" name="username" id="username"><br>
    <label for="password">Password: </label><input (keyup)='onPasswordKey($event)' type="password" name="password" id="password"><br>
    <label for="confirm">Confirm password: </label><input (keyup)='onConfirmKey($event)' type="password" name="confirm" id="confirm"><br>
    <button (click)='onClick()'>Register</button>
</div>