label{
    margin:20px;
    width:55px;
}
input{
    margin:20px;
}
button{
    margin:20px;
}
.signup{
    margin:20px;
}
div{
    margin-top: 75px;
    text-align: center;
}

span:hover{
    text-decoration: underline;
    cursor: pointer;
}